<!-- base.html-->
{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Recipe App{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'recipes/css/styles.css' %}">
</head>

<body>
    <nav>
        <ul>
            <li><a href="{% url 'recipes:recipes_home' %}">Home</a></li>
            <li><a href="{% url 'recipes:recipe_list' %}">View Recipes</a></li>
            <!-- add more nav items if needed -->
        </ul>
    </nav>

    <main>
        {% block content %}
        <!-- Page specific content goes here -->
        {% endblock %}
    </main>
</body>

</html>