<!-- recipe_home.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}Welcome | Recipe App{% endblock%}

{% block content %}
<div class="container mt-5">
    {% if user.is_authenticated %}
    <h1>Welcome, {{ user.username }}!</h1>
    {% endif %}
    <div class="my-4 text-center">
        <img src="{% static 'recipes/images/love-food.png' %}" class="img-fluid" alt="Recipes are made from love">
    </div>
    <p>
        Discover, create, and manage your recipes here!
        We look forward to seeing your kitchen challenges
        and your delightful happy accidents.
    </p>

    <!-- Featured Rectipes Section -->
    <h2>Featured Recipes</h2>
    <div class="row">
        {% for recipe in recipes %}
        {% if forloop.counter0|divisibleby:2 %}
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                {% if recipe.image %}
                <img src="{{ recipe.image.url }}" class="card-img-top" alt="{{ recipe.name }}">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ recipe.name }}</h5>
                    <a href="{% url 'recipes:recipe_details' recipe.id %}" class="btn btn-primary">View Details</a>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}