/* styles.css */
body {
    font-family: "DynaPuff", system-ui;
    background-color: #f8f8f8;
}

.custom-navbar {
    background-color: #f9a251;
    padding: 1em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.01)
}

main {
    padding: 2em;
}

header {
    background-color: #ff9f1c;
    color: white;
    padding: 1em 2em;
    text-align: center;
}

h1, h2, h3 {
    color: #2e2e2e;
}

/* insert card here? */

.recipe-card-link {
    text-decoration: none;
    color: inherit;
    display: block;
}

.card-link:hover .card {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    transition: transform 0.4s ease;
}

.recipe-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 1.5rem;
    padding: 1rem;
}

.recipe-detail-flex {
    display: flex;
    gap: 2rem;
    align-items: flex start;
    margin-bottom: 2rem;
    flex-wrap: wrap; /* ensures wrapping on smaller screens */
}

.recipe-image {
    flex: 1 1 300px;
    min-width: 150px;
    max-width: 400px;
}

.recipe-image img {
    width: 100%;
    height: auto;
    max-width: 400px;
    max-height: 300px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.01);
}

.recipe-info {
    flex: 2 1 400px;
}

/* To be added later :) ( use heart icon and classify it as favorite )

.favorite {
    font-size: 1.5rem;
    color: #ccc;
    transition: color 0.3s ease;
    cursor: pointer;
}

.favorite.active {
    color: red;
} 

*/

@media (max-width: 600px) {
    nav ul {
        flex-direction: column;
        gap: 0.5em;
    }

    .card img {
        height: 200px;
    }
}