{% extends 'base.html' %}

{% block title %}{{ recipe.name }} - Details{% endblock%}

{% block content%}
<h1>{{recipe.name}}</h1>
<p><strong>Author: </strong>{{recipe.author.username}}</p>
<p><strong>Difficulty:</strong> {{ recipe.difficulty }}</p>
<p><strong>Cooking Time:</strong> {{ recipe.cooking_time }} minutes</p>
<p><strong>Ingredients:</strong> {{ recipe.ingredients }}</p>
<p><strong>Instructions:</strong> {{ recipe.instructions }}</p>
{% if recipe.image %}
<img src="{{ recipe.image.url }}" alt="{{ recipe.name }} image">
{% endif %}
{% endblock %}