<!-- recipe_list.html -->
{% extends 'base.html' %}

{% block title %}All Recipes | Recipe App {% endblock %}

{% block content %}
<div class="container">
    <h1>All Recipes</h1>
    <div class="recipe-list">
        {% for recipe in recipes %}
        <a href="{% url 'recipes:recipe_details' recipe.id %}" class="card-link">
            <div class="card">
                {% if recipe.image %}
                <img src="{{ recipe.image.url }}" alt="{{ recipe.name }} image">
                {% endif %}
                <h3>{{ recipe.name }}</h3>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}